<footer class="container-fluid section-footer">
	<div class="row align-items-center justify-content-center mx-auto">
		<div class="col-md-4 d-flex justify-content-center">
			<p class="text-center">Um projeto em colaboração com:</p>
		</div>
		<div class="col-md-4 d-flex justify-content-center">
			<a href="https://social.rs.gov.br/consea-rs">
				<img class="logo" alt="logo Consea" src="{{ site.baseurl }}/media/home/logo-consea.png" class="logo-pequeno2">
			</a>
		</div>
		<div class="col-md-4 d-flex justify-content-center">
			<a href="https://institutoasw.org/" target="_blank">
				<img class="logo" alt="logo Instituto Aaron Swartz" src="{{ site.baseurl }}/media/home/logo-ias.png" class="logo-pequeno2">
			</a>
		</div>
	</div>
</footer>